Binaries
DerivedDataCache
Intermediate
Saved
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Blueprints/Character/AI_Character/LearningObjects/Nodes/Tasks/Task_LearnFromFeatures.uasset